<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- ALIAS -->
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="perResolve" type="Microsoft.Practices.Unity.PerResolveLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="perSession" type="Fca.Gim.WebUI.Common.Helpers.SessionLifetimeManager, Fca.Gim.WebUI"></alias>
  <container>
    <!-- COMMON INTERFACE -->
    <register type="Fca.Gim.Common.Interfaces.ITrace, Fca.Gim.Common" mapTo="Fca.Gim.Tools.Logger.Log4netLogger, Fca.Gim.Tools" >
      <lifetime type="singleton" />
    </register>
    <register type="Fca.Gim.Common.Interfaces.IOperationContext, Fca.Gim.Common" mapTo="Fca.Gim.WebUI.Common.Helpers.WebOperationContext, Fca.Gim.WebUI" >
      <lifetime type="perSession" />
      <!--<lifetime type="perResolve" />-->
    </register>
    <register type="Fca.Gim.EF.Interfaces.IGimDataContext, Fca.Gim.EF" mapTo="Fca.Gim.EF.GimDataContext, Fca.Gim.EF" />
    <register type="Fca.Gim.EF.Interfaces.IGimDwContext, Fca.Gim.EF" mapTo="Fca.Gim.EF.GimDwContext, Fca.Gim.EF" />


    <!-- WEBUI -->
    <register type="Fca.Gim.Caching.ICacheProxyProvider, Fca.Gim.Caching" mapTo="Fca.Gim.WebUI.Common.Caching.DefaultCacheProvider, Fca.Gim.WebUI" />
    <register type="Fca.Gim.WebUI.Common.Helpers.IPrivilageHelper, Fca.Gim.WebUI" mapTo="Fca.Gim.WebUI.Common.Helpers.CachePrivilageHelper, Fca.Gim.WebUI" />
    <register type="Fca.Gim.WebUI.Common.Helpers.IWebHelper, Fca.Gim.WebUI" mapTo="Fca.Gim.WebUI.Common.Helpers.WebHelper, Fca.Gim.WebUI">
      <lifetime type="singleton" />
    </register>
    <register type="Fca.Gim.WebUI.Common.Helpers.ISessionService, Fca.Gim.WebUI" mapTo="Fca.Gim.WebUI.Common.Helpers.SessionService, Fca.Gim.WebUI" />
  </container>
</unity>